<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="BuildingAge">
                <span data-feather="file"></span>
                Bina Yaşı
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="DateOfAdvertisement">
                <span data-feather="shopping-cart"></span>
                İlan Tarihi
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="DeedStatus">
                <span data-feather="shopping-cart"></span>
                Tapu Durumu
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="Facade">
                <span data-feather="shopping-cart"></span>
                Cephe
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="list" asp-controller="floorlocation">
                <span data-feather="shopping-cart"></span>
                Bulunduğu Kat
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="HeatingType">
                <span data-feather="shopping-cart"></span>
                Isınma Tipi
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="HousingType">
                <span data-feather="shopping-cart"></span>
                Konut Tipi
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="NumberOfBathroom">
                <span data-feather="shopping-cart"></span>
                Banyo Sayısı
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="NumberOfFloorsInBuilding">
                <span data-feather="shopping-cart"></span>
                Kat Sayısı
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="NumberOfRoomHall">
                <span data-feather="shopping-cart"></span>
                Oda-Salon Sayısı
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="UsageStatus">
                <span data-feather="shopping-cart"></span>
                Kullanım Durumu
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="City">
                <span data-feather="shopping-cart"></span>
                Şehir
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="District">
                <span data-feather="shopping-cart"></span>
                İlçe
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="HousingAdvertisement">
                <span data-feather="shopping-cart"></span>
                İlanlar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="Agent">
                <span data-feather="shopping-cart"></span>
                Emlakçılar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AdminList" asp-controller="Admin">
                <span data-feather="shopping-cart"></span>
                Adminler
            </a>
        </li>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Emlak Sitesine Git</span>
            <a class="d-flex align-items-center text-muted" asp-action="List" asp-controller="Home" aria-label="Add a new report">
                <span data-feather="home"></span>
            </a>
        </h6>
</div>