/* CSS ile sayfanın stilini özelleştirebilirsiniz */
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.filter-section {
    width: 30%;
    background-color: #f0f0f0;
    padding: 10px;
}

.ads-section {
    width: 65%;
    background-color: #ffffff;
    padding: 10px;
}

.ad-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ad-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left:300px;
}

.card {
    width: 100%; /* Kartları yatay olarak genişletmek için */
}

.col-md-3 {
    margin-right: 20px; /* Kartlar ile filtreleme bölümü arasına sağda bir boşluk ekler */
}



/* Diğer stil tanımlamalarını burada yapabilirsiniz */
