@model DistrictViewModel
@{
    ViewData["Title"] = "İlçe Oluştur";
    Layout = "~/Views/Shared/_AdminLayot.cshtml";
}

<form asp-action="Create" asp-controller="District" style="margin-bottom:15px;margin-top:15px">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:15px">
            <input type="text" asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <div action="col-md-12" style="margin-bottom:15px;margin-left:15px;margin-right:15px;width:100%;">
            <select asp-for="CityId" asp-items="@(new SelectList(Model.Cities, "Value", "Text"))" class="form-control" data-placeholder="Kategori Seçin">
                <option value="">-- Şehir Seçin --</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" style="width:100%">Ekle</button>
        </div>
    </div>
</form>