@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />

<div class="container">
    <div class="filter">
    </div>
    <div class="listings">
        <div class="listing">
            <img src="property1.jpg" alt="Emlak 1">
            <h2>Örnek Ev 1</h2>
            <p>Açıklama: Bu güzel ev güzel bir mahallede bulunuyor.</p>
        </div>
        <div class="listing">
            <img src="property2.jpg" alt="Emlak 2">
            <h2>Örnek Ev 2</h2>
            <p>Açıklama: Geniş bahçesi ve modern tasarımı ile bu evi seveceksiniz.</p>
        </div>
        <div class="listing">
            <img src="property2.jpg" alt="Emlak 2">
            <h2>Örnek Ev 2</h2>
            <p>Açıklama: Geniş bahçesi ve modern tasarımı ile bu evi seveceksiniz.</p>
        </div>
        <div class="listing">
            <img src="property2.jpg" alt="Emlak 2">
            <h2>Örnek Ev 2</h2>
            <p>Açıklama: Geniş bahçesi ve modern tasarımı ile bu evi seveceksiniz.</p>
        </div>



    </div>
</div>

