@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayot.cshtml";
}
<div class="row" style="margin-top:25%">
    <div class="col-md-6" style="margin-top:15px">
        <a asp-action="CreateSale" asp-controller="HousingAdvertisement" class="btn btn-success" style="width:100%">Satılık</a>
    </div>
    <div class="col-md-6" style="margin-top:15px">
        <a asp-action="CreateRent" asp-controller="HousingAdvertisement" class="btn btn-primary" style="width:100%">Kiralık</a>
    </div>
</div>